# Config file for ESP32 DSP Processor 

menu "ESP32 audio buffer and I2S pin config" 
    config USE_PSRAM
        bool "Use PSRAM"
        default true
        help 
            Need wrover class modules with large SPRAM to have required buffers for Snapcast network delay

    config BITS_PER_SAMPLE
        int "bits per sample output to i2s driver"
        default 32
        help 
           Select number of bits per sample for codec configed and connected to esp32 i2s dma hw
    
    config USE_BIQUAD_ASM   
        bool "Use uptimized asm verion of Biquad_f32"  
        default true
        help 
            Asm version 2 x speed on ESP32 - not working on ESP32-S2 

    config MASTER_I2S_BCK_PIN
        int "Master i2s bck"
        default 23
        help
            Master audio interface bit clock.

    config MASTER_I2S_LRCK_PIN
        int "Master i2s lrck"
        default 13
        help
            Master audio interface left/right sync clock.

    config MASTER_I2S_DATAOUT_PIN
        int "Master i2s data out"
        default 14
        help
            Master audio interface data out.

    config SLAVE_I2S_BCK_PIN
        int "Slave i2s bck"
        default 26
        help
            Slave audio interface bit clock.

    config SLAVE_I2S_LRCK_PIN
        int "Slave i2s lrck"
        default 12
        help
            Slave audio interface left/right sync clock.

    config SLAVE_I2S_DATAOUT_PIN
        int "Slave i2s data out"
        default 5
        help
            Slave audio interface data out.

    
endmenu
