# Config file for ESP32 DSP Processor

menu "ESP32 audio buffer and I2S pin config"
    config USE_PSRAM
        bool "Use PSRAM"
        default true
        help
            Need wrover class modules with large SPRAM to have required buffers for Snapcast network delay

    config BITS_PER_SAMPLE
        int "bits per sample output to i2s driver"
        default 32
        help
           Select number of bits per sample for codec configed and connected to esp32 i2s dma hw

    config ENABLE_DSP_EFFECTS
        bool "Enable special DSP effects"
        default true
        help
            Requires a few hundred bytes of RAM

    config USE_BIQUAD_ASM
        bool "Use uptimized asm verion of Biquad_f32"
        default true
        help
            Asm version 2 x speed on ESP32 - not working on ESP32-S2

endmenu
