menu "Merus MA120x0 interface Configuration"
    config MA120X0_NENABLE_PIN
        int "Master enable/disable for ma120x0"
        default 16
        help
            GPIO number to control enable/disable.

    config MA120X0_NMUTE_PIN
        int "Master mute/unmute for ma120x0"
        default 2
        help
            GPIO number to controm mute/unmute.

    config MA120X0_ENABLE_PIN
        int "Master enable/disable for ma120x0"
        default 16
        help
            GPIO number to control enable/disable.

    config MA120X0_NERR_PIN
        int "NERR monitor pin"
        default 21
        help
            GPIO number to monitor NERROR.
              
    config MA120X0_NCLIP_PIN
        int "Clip indication pin"
        default 22
        help
            GPIO number low if clip observed 


    config MA120X0_SCL_PIN
        int "I2C_SCL clock GPIO"
        default 0
        help
            GPIO number to use for I2C clock.

    config MA120X0_SDA_PIN
        int "I2C_SDA data GPIO"
        default 4
        help
            GPIO number to use for I2C data.

    config MA120X0_I2C_ADDR
        hex "I2C ADDR"
        default 0x20
        help
            Address for ma120x0.


endmenu
