body {
  font-family : Arial
}
.row {display: table; height: 30px }
.inrow {display: table-cell; vertical-align: middle }
.inrowbot {height: 30px; width: 100px; display: inline-block }
.inrowvoltxt {height: 30px; width: 120px; display: inline-block  }
.inrowslider {height: 30px; width: 200px; display: inline-block  }
.inrowvaldb {height: 30px; width: 60px; display: inline-block }

div.graph-container {
  float: left;
  margin: 0.5em;
  width: calc(33%-0.5em);
}
div.graphs-container {
  clear: both;
  width: 1200px ;
  height: 400px ;
}
